__pycache__/
*.py[cod]

.ipynb_checkpoints/
*.ipynb

scratch_output/
expts/
checkpoints/
data/

.env
config.ini
config_local.ini
config_*.local.ini

*tmp*
*temp*

*.zip
*.rej
*.orig

.vscode/
.idea/
.DS_Store